[project]
	description = A tool for automated MITM attacks on SSL connections.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jamie Clark (jbc0)
[access "refs/for/refs/*"]
	read = group user/Jamie Clark (jbc0)
	push = group user/Jamie Clark (jbc0)
	label-Code-Review = -2..+2 group user/Jamie Clark (jbc0)
	label-Verified = -1..+1 group user/Jamie Clark (jbc0)
	rebase = group user/Jamie Clark (jbc0)
	removeReviewer = group user/Jamie Clark (jbc0)
	submit = group user/Jamie Clark (jbc0)
[access "refs/heads/*"]
	read = group user/Jamie Clark (jbc0)
	create = group user/Jamie Clark (jbc0)
	push = +force group user/Jamie Clark (jbc0)
	pushMerge = group user/Jamie Clark (jbc0)
[access "refs/tags/*"]
	push = +force group user/Jamie Clark (jbc0)
	pushTag = group user/Jamie Clark (jbc0)
	pushSignedTag = group user/Jamie Clark (jbc0)
